*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.o
*.hi
*~
*#
*.pdf
*.snm
*.eps
*.nav
*.bak
*.vrb
*.png
*.gif
*.jpg
*.old
*.backup
*.trail
*.sty
*.tgz
*.beam
*.dump

patrick_edlambda/
*.tar.gz
*.ps
*.fdb_latexmk
*.fls
*.dtx
*.ins
*.csv
*.Rhistory
*.tex

*.h
*.c
*.dot
*.b
*.m
*.p
*.t

submission-forms
spin_models/pan
*.fdb_latexmk
tree
